<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
			<nav class="navbar-tabs"><!-- navigation bar -->
				<a href="#" class="navbar-item">woww</a> <!--aคือการที่ให้กดตรงitemได้ #ไว้ใส่ลิ้งหน้าที่ต้องการให้ลิ้งไป--> <!-- . คือเข้าถึงclass-->
				<a href="#" class="navbar-item">Home</a>
				<a href="#" class="navbar-item">News</a>
				<a href="#" class="navbar-item">Room</a>
				<a href="#" class="navbar-item">1527</a>
				<a href="#" class="navbar-item">work</a>
				<a href="#" class="navbar-item">Contact</a>
				<a href="#" class="navbar-item">My acount</a>
			</nav> 
	</header>